manifest {
    homePage = "https://github.com/hubmapconsortium/codex-pipeline"
    defaultBranch = "main"
    description = "A Nextflow pipeline for processing CODEX image data, using Cytokit."
    mainScript = "pipeline.nf"
    name = "codex-pipeline"
}

params {
    data_dir = false
    gpus = 0
    num_concurrent_tasks = 10
}

process {
    container = "hubmap/codex-scripts"
}